<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>status</key>
	<string></string>
	<key>data</key>
	<array>
		<dict>
			<key>origin_url</key>
			<string></string>
			<key>image_url</key>
			<string></string>
			<key>title</key>
			<string>How to Get Your App Featured on the App Store</string>
			<key>post_description</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>views_count</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>origin_url</key>
			<string></string>
			<key>image_url</key>
			<string></string>
			<key>title</key>
			<string>7 Types of Animations for Your Mobile App</string>
			<key>post_description</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>views_count</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>origin_url</key>
			<string></string>
			<key>image_url</key>
			<string></string>
			<key>title</key>
			<string>5 Design Tricks to Succeed in 2016 for Mobile App Product Owners</string>
			<key>post_description</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>views_count</key>
			<integer>423</integer>
		</dict>
		<dict>
			<key>origin_url</key>
			<string></string>
			<key>image_url</key>
			<string></string>
			<key>title</key>
			<string>Why Yalantis Is a Company You Can Trust</string>
			<key>post_description</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>views_count</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>origin_url</key>
			<string></string>
			<key>image_url</key>
			<string></string>
			<key>title</key>
			<string>How Much Does It Cost to Design an App?</string>
			<key>post_description</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>views_count</key>
			<integer>86</integer>
		</dict>
	</array>
</dict>
</plist>
